# Ignore everything
*

# But not these files...
!.gitignore
!mars_orbit.pde


# ...even if they are in subdirectories
!*/
application.windows32/source/mars_orbit.pde
application.windows64/source/mars_orbit.pde
*.properties
